body {
  margin: 0;
  padding: 0;
  font-family: "BMWTypeNextLatinTT-Regular", "arudjingxiheipe1xg30_md",
    "Noto Sans TC";
}

.alert {
  width: 570px;
  height: 50px;
  box-shadow: 0 10px 20px 0 rgba(5, 45, 84, 0.15);
  background-color: #eaeef3;
  position: absolute;
  left: calc(50% - 285px);
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alert span {
  font-family: "BMWTypeNextLatinTT-Regular",
    "arudjingxiheipe1xg30_md",
    "Noto Sans TC";
  font-size: 15px;
}

.alert img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  margin-right: 5px;
}

.container {
  width: 1440px;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome {
  background: url(img/gray-bkg-pattern.svg) no-repeat center center;
  background-size: cover;
  width: 525px;
  height: 897px;
}

.BMW_White_Logo {
  margin: 112px 0 0 50px;
}

.hello-tittle {
  font-family: "BMWTypeNextLatinTT-Bold", "arudjingxiheipe1xg30_hv",
    "Noto Sans TC";
  font-weight: 700;
  letter-spacing: 0px;
  font-size: 50px;
  line-height: 1.5;
  letter-spacing: 0px;
  color: #0066b1;
  margin-left: 50px;
}

.right_login {
  width: 915px;
  height: auto;
  min-height: 897px;
  display: flex;
  justify-content: center;
}

.main {
  width: 570px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 112px;
}

.main-tittle {
  font-family: "BMWTypeNextLatinTT-Regular", "arudjingxiheipe1xg30_md",
    "Noto Sans TC";
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #262626;
  margin-bottom: 60px;
}

ul.step {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
}

.step-line {
  width: 65px;
  height: 2px;
  background-color: #d6d6d6;
}

.add-step {
  width: 574px;
  margin-top: 30px;
}

#phonenumber,
#carnumber {
  width: 570px;
  height: 40px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #262626;
}

#phonenumber2 {
  width: 570px;
  height: 40px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #8e8e8e;
}

#phonenumber2:disabled {
  color: #8e8e8e;
}

.redwords {
  color: #e33718;
  font-size: 15px;
  line-height: 1.67;
  margin: 0;
}

::-webkit-input-placeholder {
  color: #ccc;
}

#phonenumber:focus,
#phonenumber2:focus,
#carnumber:focus {
  outline: none;
  border-bottom: solid 1px #1c69d4;
}

#phonenumber2:disabled {
  background-color: rgba(0, 0, 0, 0);
}

.add-information-1-5 {
  font-size: 18px;
}

.add-information-2 {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.a1,
.a2,
.a3 {
  width: 176px;
}

#lastname,
#firstname,
#male {
  width: 176px;
  height: 40px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #262626;
  color: #ccc;
}

#lastname:focus,
#firstname:focus,
#male:focus {
  width: 176px;
  height: 40px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #1c69d4;
  color: #262626;
  outline: none;
}

#chooce {
  width: 24px;
  height: 24px;
  border: solid 1px #262626;
  border-radius: 0px;
}

.personal {
  height: 30px;
  width: auto;
  margin-top: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.personal-2 {
  font-family: "BMWTypeNextLatinTT-Regular", "arudjingxiheipe1xg30_md",
    "Noto Sans TC";
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.35px;
  color: #262626;
  margin-left: 6px;
}

.personal-2 a {
  font-family: "BMWTypeNextLatinTT-Regular", "arudjingxiheipe1xg30_md",
    "Noto Sans TC";
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.35px;
  color: #262626;
}

#checkok-1,
#checkok-2,
#checkok-3,
#checkok-4 {
  width: 300px;
  height: 50px;
  margin-top: 40px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #1c69d4;
  font-size: 18px;
}

#checkok-1:hover,
#checkok-2:hover,
#checkok-3:hover,
#checkok-4:hover {
  width: 300px;
  height: 50px;
  margin-top: 40px;
  border: none;
  outline: none;
  background-color: #0653b6;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.checkcode {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkcode input[type="text"] {
  width: 78px;
  height: 40px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #262626;
}

.checkcode input[type="text"]:focus {
  width: 78px;
  height: 40px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #1c69d4;
  outline: none;
}

#checkok-1:disabled,
#checkok-2:disabled,
#checkok-3:disabled,
#checkok-4:disabled {
  background-color: #8e8e8e;
  color: #262626;
  opacity: 0.5;
}

#tittle-2 {
  font-size: 20px;
}

#tittle-2 span {
  color: #0066b1;
}

#tittle-3,
#tittle-4 {
  font-size: 20px;
}

#tittle-3 .phoneok,
#tittle-4 .passwordok {
  font-family: "BMWTypeNextLatinTT-Regular", "arudjingxiheipe1xg30_hv",
    "Noto Sans TC";
  line-height: 2.1;
}

.step-input,
.step1-input-1,
.step1-input-2,
.step1-input-3,
.step3-input-3,
.step4-input-1,
.step4-input-2,
.step4-input-3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.step3-input-1 {
  color: #8e8e8e;
  margin-bottom: 20px;
}

.G61step1-input-1 {
  color: #262626;
  font-size: 18px;
  margin-bottom: 20px;
}

.step3-input-3 {
  margin-top: 20px;
}

.step-input img,
.step3-input-2 img,
.step3-input-3 img {
  position: absolute;
  margin-top: 5px;
  right: 400px;
}

.passwordmini {
  font-size: 14px;
}

.systemcheck {
  margin-top: 30px;
  margin-bottom: 95px;
  display: flex;
}

.lastsecond {
  display: block;
  color: #e33718;
  font-size: 15px;
}

.resend {
  color: #1c69d4;
  font-size: 15px;
  border-bottom: solid 1px #1c69d4;
  text-decoration: none;
}

.resend:hover {
  font-family: "BMWTypeNextLatinTT-Regular",
    "arudjingxiheipe1xg30_hv",
    "Noto Sans TC";
  color: #1c69d4;
  font-size: 15px;
  border-bottom: solid 1px #1c69d4;
}

#password,
#recheck-password,
#birthday,
#email,
#address {
  width: 570px;
  height: 40px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #262626;
  color: #262626;
}

#password:focus,
#recheck-password:focus,
#birthday:focus,
#email:focus,
#address:focus {
  width: 570px;
  height: 40px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #262626;
  outline: none;
}

.already {
  font-family: "BMWTypeNextLatinTT-Regular", "arudjingxiheipe1xg30_md",
    "Noto Sans TC";
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #1c69d4;
  height: 30px;
  width: auto;
}

.already-1 {
  font-family: "BMWTypeNextLatinTT-Regular", "arudjingxiheipe1xg30_md",
    "Noto Sans TC";
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #1c69d4;
  margin-top: 20px;
  height: 30px;
  width: auto;
}

.already a,
.already-1 a {
  font-family: "BMWTypeNextLatinTT-Regular", "arudjingxiheipe1xg30_md",
    "Noto Sans TC";
  border-bottom: solid 1px;
  margin: 0;
}

.already a:hover,
.already-1 a:hover {
  font-family: "BMWTypeNextLatinTT-Regular", "arudjingxiheipe1xg30_hv",
    "Noto Sans TC";
  border-bottom: solid 1px;
  margin: 5px 0 0 0px;
}

.already-yet {
  font-family: "BMWTypeNextLatinTT-Regular", "arudjingxiheipe1xg30_md",
    "Noto Sans TC";
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #1c69d4;
  height: 30px;
  margin-top: 20px;
  width: auto;
}

.already-yet a {
  font-family: "BMWTypeNextLatinTT-Regular", "arudjingxiheipe1xg30_md",
    "Noto Sans TC";
  border-bottom: solid 1px;
  margin: 0;
}

.already-yet a:hover {
  font-family: "BMWTypeNextLatinTT-Regular", "arudjingxiheipe1xg30_hv",
    "Noto Sans TC";
  border-bottom: solid 1px;
  margin: 5px 0 0 0px;
}


/*------------------------------------------------------------------------lity-inline-lightbox*/
#inline .pressX {
  color: #262626;
  font-size: 20px;
  display: block;
  margin: 0 0 0 auto;
}

#inline .pressX:hover {
  cursor: pointer;
}


#inline {
  background: #fff;
  width: 670px;
  height: 337px;
  box-shadow: 0 10px 20px 0 rgba(5, 45, 84, 0.2);
  border: solid 1px #d8dce0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#inline p {
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 0;
}

.lityinfo {
  width: 520px;
  font-size: 15px;
  line-height: 1.67;
}

#waitfor {
  width: 260px;
  height: 50px;
  border: none;
  outline: none;
  font-family: "BMWTypeNextLatinTT-Bold", "arudjingxiheipe1xg30_md",
    "Noto Sans TC";
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  background-color: #1c69d4;
  margin-top: 50px;
}

#waitfor:hover {
  background-color: #0653b6;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.noneed {
  color: #1c69d4;
  font-size: 15px;
  border-bottom: solid 1px #1c69d4;
  margin-top: 20px;
}

.noneed:hover {
  cursor: pointer;
}

footer {
  width: 1440px;
  height: 66px;
  margin: auto;
  background-color: #384150;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.BMW- {
  width: 159px;
  height: 24px;
  font-family: "BMWTypeNextLatinTT-Light", "arudjingxiheipe1xg30_md",
    "Noto Sans TC";
  font-size: 16px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #d6d6d6;
  margin-left: 60px;
}

.BMW {
  font-family: "BMWTypeNextLatinTT-Light", "arudjingxiheipe1xg30_md",
    "Noto Sans TC";
  list-style: none;
  display: flex;
  align-items: center;
  float: right;
  margin-right: 60px;
}

.BMW li {
  border-right: solid 1px #d6d6d6;
  text-align: center;
}

.BMW li a {
  font-family: "BMWTypeNextLatinTT-Light", "arudjingxiheipe1xg30_md",
    "Noto Sans TC";
  color: #d6d6d6;
  font-size: 16px;
  text-decoration: none;
}

.BMW li a:hover {
  color: #ffffff;
  transition: 0.5s;
}

.BMW li:nth-child(1) {
  padding-right: 15px;
}

.BMW li:nth-child(2) {
  padding-left: 15px;
  padding-right: 15px;
}

.BMW li:nth-child(3) {
  padding-left: 15px;
  padding-right: 15px;
}

.BMW li:nth-child(4) {
  padding-left: 15px;
  border: none;
  min-width: none;
}

/*------------------------------------------------------------------------login*/

.step1-input-2 img {
  position: absolute;
  right: 400px;
  margin-top: 5px;
}

/*------------------------------------------------------------------------login*/

.go-to-login {
  margin-top: 30px;
}

.go-to-login a {
  color: #262626;
  margin-left: 15px;
  text-decoration: none;
}

.go-to-login a:hover {
  font-family: "BMWTypeNextLatinTT-Light",
    "arudjingxiheipe1xg30_hv",
    "Noto Sans TC";
  color: #262626;
  margin-left: 15px;
  text-decoration: none;
}

#tittle-1-2 {
  font-size: 20px;
  line-height: 2.1;
}

#tittle-1-2 span {
  margin-top: 10px;
}

#tittle-2-1 {
  font-size: 20px;
  line-height: 2.1;
}

#tittle-3-1 {
  font-size: 20px;
  line-height: 2.1;
}

#tittle-2-1 span {
  font-family: "BMWTypeNextLatinTT-Light",
    "arudjingxiheipe1xg30_hv",
    "Noto Sans TC";
}

#tittle-2-1 .blue {
  font-family: "BMWTypeNextLatinTT-blod",
    "arudjingxiheipe1xg30_hv",
    "Noto Sans TC";
  color: #1c69d4;
  margin-left: 10px;
}

.tittlebold {
  font-family: "BMWTypeNextLatinTT-blod",
    "arudjingxiheipe1xg30_hv",
    "Noto Sans TC";
}

/*------------------------------------------------------------------------A1.9*/

.welcome-1-9 {
  background: url(img/gray-bkg-pattern.svg) no-repeat;
  object-fit: cover;
  width: 323px;
  height: auto;
  min-height: 897px;
}

.right_login-1-9 {
  width: 1117px;
  height: auto;
  min-height: 897px;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 150px;
}

#tittle-1-9 {
  font-family: "BMWTypeNextLatinTT-Regular", "arudjingxiheipe1xg30_hv",
    "Noto Sans TC";
  line-height: 2.1;
  font-size: 35px;
}

.add-step-1-9 {
  width: 570px;
  font-family: "BMWTypeNextLatinTT-Regular",
    "arudjingxiheipe1xg30_md",
    "Noto Sans TC";
  line-height: 1.5;
  font-size: 20px;
}